html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --bg: white;
  --secondaryBg: rgb(153, 152, 152);
  --primary: #1e293b;
  --secondary: #94a3b8;
  --third: #4338ca;
  --primaryFont: #0f172a;
  --secondaryFont: rgb(204, 204, 204);
  --invertFont: rgb(206, 206, 206);
  --ssFont: 8px;
  --sFont: 10px;
  --mFont: 13px;
  --lFont: 16px;
  --xlFont: 20px;
  --xxlFont: 24px;
}

[data-theme="dark"] {
  --bg: #282b30;
  --secondaryBg: rgb(0, 0, 0);
  --primary: #312e81;
  --secondary: #cbd5e1;
  --third: #1564a5;
  --primaryFont: #cbd5e1;
  --secondaryFont: rgb(204, 204, 204);
  --invertFont: rgb(201, 201, 201);
}
